[defaults]
roles_path = ./playbooks/roles:./ansible/roles
collections_path = ./collections:./ansible/collections
host_key_checking = False
retry_files_enabled = False
# Use the yaml callback plugin to get better formatted output
stdout_callback = ansible.builtin.default
result_format = yaml
# Use the stdout_callback when running ad-hoc commands
bin_ansible_callbacks = True
interpreter_python = auto_silent
# disable deprecation warnings
deprecation_warnings = False
# disable become by default and it should never ask for password
become = False
become_method = sudo
become_user = root
become_ask_pass = False