#cloud-config

# Set the hostname for the instance
hostname: ${hostname}

# Set timezone for the instance
#timezone: UTC

# Set locale for the instance
#locale: en_US.UTF-8

# Set keyboard layout
#keyboard:
#  layout: us

# Define users to be created
users:
  - name: ${username}             # username
    sudo: ALL=(ALL) NOPASSWD:ALL  # sudo privileges, allows password less sudo, since root is disabled and no password configured for this user
    groups: users, admin          # user's group memebership
    shell: /bin/bash
    lock_passwd: true             # lock the password for this user
    ssh_authorized_keys:          # ssh public key for user
      - ${ssh_authorized_key}

# Root user
# disable root user
disable_root: true 
# Configure SSH keys for root
#ssh_authorized_keys:
#  - ssh-rsa AAAAB3Nza...

# Set password expiration for users to false
chpasswd:
  expire: false

# Enable SSH password authentication
ssh_pwauth: false

# Automatically grow the root partition
growpart:
  mode: auto
  devices: ['/']

# Update and upgrade package list on boot
package_update: true
package_upgrade: true

# List of packages to install
packages:
  - qemu-guest-agent
  - iputils-ping

# Commands to run at the end of the boot process
runcmd:
  - [ systemctl, enable, --now, qemu-guest-agent ]